<robot name="004_sugar_box">
	<link name="_name">
	    <contact>
      <friction_anchor/>
      <lateral_friction value="0.5"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
		<visual>
			<origin rpy="0 0 0" xyz="0.00779986888489634 0.01694155631699728 -3.1e-05" />
			<geometry>
				<mesh filename="004_sugar_box/google_16k/textured.obj" scale="1 1 0.8" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="004_sugar_box/google_16k/textured_vhacd.obj" scale="1 1 0.8" />
			</geometry>
		<origin rpy="0 0 0" xyz="0.00779986888489634 0.01694155631699728 -3.1e-05" /></collision>
		<inertial>
       <mass value=".411"/>
       <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3"/>
		</inertial>
	</link>
</robot>